<center>
    <h1 class="title">Welcome to the server of CoVTracker.</h1>
    <%= if !@authenticated do %>
        <a href="<%= Routes.user_path(@conn, :login) %>">Login</a> /
        <a href="<%= Routes.user_path(@conn, :register) %>">Register</a>
    <% else %>
        Welcome back!
        <a href="<%= Routes.user_path(@conn, :logout) %>">Logout</a>
    <% end %>
</center>
