/* This file is for your main application css. */

body>.container {
    margin-top: 1em;
}

.map {
    width: 100%;
    height: 400px;
}

.label {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.red {
    background: red;
}

.orange {
    background: orange;
}

.yellow {
    background: yellow;
}

.pink {
    background: pink;
}

.gray {
    background: gray;
}

.black {
    background: black;
}