<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CoVTracker</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
  </head>
  <body>
    <div class="container">
      <%# Flash Messages %>
      <%
        success = get_flash(@conn, :success)
        error = get_flash(@conn, :error)
      %>

      <%# Success %>
      <%= if success do %>
      <div class="notification is-success is-light">
        <%= get_flash(@conn, :success) %>
      </div>
      <% end %>

      <%# Error %>
      <%= if error do %>
      <div class="notification is-danger is-light">
        <%= get_flash(@conn, :error) %>
      </div>
      <% end %>

      <%= render @view_module, @view_template, assigns %>
    </div>

    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
